{% extends 'pharmacy/base.html' %}
{% load static %}
{% block content %}

<div class="container row">
    <div class="col-5">
        <img class="img-fluid" src="{{ product.picture }}" alt="Card Image">
    </div>
    <div class="col-7">


        <div class="mb-4">
            <h1 class="">{{ product.name }}</h1>
        </div>

        <div class="d-flex mb-3 text-secondary">
            <h6 class="fw-medium fs-4">{{ product.price }}</h6> <h6 class="ms-1">SAR</h6>
        </div>

        
        <div class="fw-medium mb-3">
            <span class="d-block mb-3">Stock Quantity</span>
            <span class="border border-2 px-5 py-2 fw-normal">{{ product.quantity }}</span>
        </div>
        
        <div class="fw-medium mb-5">
            <span class="d-block mb-3">Expiration Date</span>
            <span class="border border-2 px-5 py-2 fw-normal">{{ product.expiration_date }}</span>
        </div>
        
        <div class="mb-3">
            <p>{{ product.description }}</p>
        </div>

        <div class="mt-5 d-flex justify-content-evenly">
            <a href="{% url 'read_product' %}" class="btn btn-dark">Back</a>
            <a href="{% url 'update_product' product.id %}" class="btn btn-warning">Update</a>
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
        </div>

    </div>
</div>

{% endblock %}